.sign-in{
    .sign-in-logo{
          width: 200px;
          height: 300px;
          background-color: blue;
    }
}
.sign-in-form{
    margin: auto;
    margin-left: 20px;
}
.sign-in-title{
    font-size: 25px;
    font-size: 700;
    margin:  20px 25px;
    color: white;
}
.sign-up-link {
   text-decoration: none;
   cursor: pointer;
     font-weight: 500;
  
    }